<div class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900">
  <div class='w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700'>
    <form *ngIf="!openClose" class="space-y-6" [formGroup]="registerForm" (ngSubmit)="handleCheckEmail()">
      <h2 class="text-xl font-medium text-gray-900 dark:text-white">S'inscrire</h2>
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre adresse mail</label>
        <input type="email" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
    block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
               placeholder="votre email" required />
      </div>
      <button type="submit"
              class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                             font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Envoyer le code de vérification
      </button>
      <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
        Vous avez déjà un compte ? <a class="ml-auto text-sm text-blue-700 hover:underline dark:text-blue-500"
                             routerLink="/login">S'identifier</a>
      </div>
    </form>

    <button *ngIf="isLoading" class="flex items-center rounded-lg bg-green-700 px-4 py-2 text-white mt-4 mb-4">
      <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      <span class='font-medium'>
                  Envoie du code de vérification...
                </span>
    </button>

    <form *ngIf="openClose" class="space-y-6" [formGroup]="registerForm" (ngSubmit)="register()">
      <h2 class="text-xl font-medium text-gray-900 dark:text-white">S'inscrire</h2>
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Code de vérification</label>
        <input type="number" formControlName="code" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
    block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
               placeholder="votre code de vérification" required />
      </div>
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nouveau mot de passe</label>
        <input type="password" formControlName="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
    block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
               placeholder="votre mot de passe" required />
      </div>
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmation du mot de passe</label>
        <input type="password" formControlName="confirmPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
    block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
               placeholder="confirmez votre mot de passe" required />
      </div>
      <button type="submit"
              class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                             font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Changer le mot de passe
      </button>
    </form>
  </div>
</div>
