<div class="p-3">
  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class='text-center'>Opération N°</th>
          <th class='text-center'>Compte N°</th>
          <th class='text-center'>Montant</th>
          <th class='text-center'>Date d'opération</th>
          <th class='text-center'>Type</th>
          <th class='text-center' colSpan={2}>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let operation of appState.operationsState.operations">
          <td class='text-center'>{{ operation.id }}</td>
          <td class='text-center'>{{ operation.bankAccountDTOId }}</td>
          <td class='text-center'>{{ operation.amount }}</td>
          <td class='text-center'>{{ operation.operationDate | date:'yyyy-MM-dd HH:mm'}}</td>
          <td class='text-center'>{{ operation.type }}</td>
          <td class='text-center'>
            <button mat-flat-button color="primary"
                    (click)="getDetails(operation.id)">
              Détails
            </button>
          </td>
          <td class='text-center' *ngIf="operation.canceled === false">
            <button mat-flat-button color="warn" (click)="cancelOperation(operation.id)">
              Annuler
            </button>
          </td>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let page of [].constructor(appState.operationsState.totalPages); let index=index">
          <button (click)="goToPage(index)"
                  [ngClass]="appState.operationsState.currentPage===(index)?'btn btn-success m-1':'btn btn-outline-success m-1'"
                  class="">
            {{index+1}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Operation Details -->
<div *ngIf="openClose" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-lg p-5 relative w-1/2">

    <button class="absolute top-2 right-2 text-gray-500 hover:text-gray-700 cursor-pointer" (click)="closeModal()">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>

    <div class="flex justify-between items-center mb-4">
      <h2>Détails d'opération</h2>
    </div>
    <form [formGroup]="form">

      <div class="mb-3">
        <label class="block text-sm font-medium text-gray-700">Numéro de compte</label>
        <input
          formControlName="bankAccountDTOId"
          type="text"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
          readonly
        />
      </div>

      <div class="mb-3">
        <label class="block text-sm font-medium text-gray-700">Opération numéro</label>
        <input
          formControlName="id"
          type="number"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
          readonly
        />
      </div>

      <div class="mb-3">
        <label class="block text-sm font-medium text-gray-700">Effectuée le</label>
        <input
          formControlName="operationDate"
          type="text"
          [value]="form.get('operationDate')?.value | date:'full'"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
          readonly
        />
      </div>

      <div class="mb-3">
        <label class="block text-sm font-medium text-gray-700">Montant en DHS</label>
        <input
          formControlName="amount"
          type="number"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
          readonly
        />
      </div>

      <div class="mb-3">
        <label class="block text-sm font-medium text-gray-700">Description</label>
        <input
          formControlName="description"
          type="text"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
          readonly
        />
      </div>
    </form>
  </div>
</div>
